<div class="ui centered page grid">
  <div class="row"></div>
  <div class="row"></div>
  <div class="ui vertical segment">
    <% if logged_in? %>
    <% else %>
      <a href="/users/new" class="ui large inverted blue button">
        Sign up!
      </a>
    <% end %>
  </div>
</div>  
