<div class="ui centered page grid">
  <div class="row"></div>
  <div class="row"></div>
  <div class="ui vertical segment">
    <% if user_signed_in? %>
    <% else %>
      <a href="/users/sign_up" class="ui large inverted blue button">
        Sign up!
      </a>
    <% end %>
  </div>
</div>  
