<div class="ui centered page grid">
  <div class="row"></div>
  <div class="row"></div>
  <div class="twelve wide column">
    <div class="row"></div>
    <h2 class="ui center aligned header">User-to-user sports wagering</h2>
  </div>
  <div class="twelve wide column">
    <% if user_signed_in? %>
    <% else %>
      <a href="/users/sign_up" class="ui large blue button">Sign up!</a>
    <% end %>
  </div>
  <div class="fifteen wide column">
    <div class="ui vertical segment">
      <div class="ui two column centered stackable grid">
        <div class="column">
          <div class="ui center aligned icon header">
            <i class="users icon"></i>
            Initiate bets with other users!
          </div>
          <p>Select a game, pick an user to bet with, set the terms of your bet, and submit.
            Pick a team, points, and bet amount. Bet results post as soon as game results are final and updated.</p>
        </div>
        <div class="column">
          <div class="ui center aligned icon header">
            <i class="thumbs up icon"></i>
            Accept or reject received bets!
          </div>
          <p>Accept bets you want and reject bets you don't like. Create a new bet with revised terms, and let the receiving user decide.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted vertical feature segment">
  <div class="ui centered page grid">
    <div class="fifteen wide column">
      <div class="ui two column centered grid">
        <div class="column">
          <div class="ui inverted center aligned icon header">
            <i class="comments icon"></i>
            Comment on bets!
          </div>
          <p>Comment on active bets, comment on bet results etc. Receive a rediculous bet? Tell the initiating user, off if you like. Comment on any bet!</p>
        </div>
        <div class="column">
          <div class="column">
            <div class="ui inverted center aligned icon header">
              <i class="trophy icon"></i>
              Win bets!
            </div>
            <p>Win bragging rights. Keep track of bets, and don't let your friends weasle out of it. Once a bet is accepted neither user can change it or try to "take it back".</p>
          </div>
        </div>
        <div class="column">
          <div class="row"></div>
        </div>
        <div class="column">
          <div class="row"></div>
        </div>
      </div>
    </div>
  </div>
</div>

