<% provide(:title, 'Home') %>

<div class="ui centered padded grid">
  <div class="row"></div>
  <div class="row"></div>
  <div class="sixteen wide column">
    <div class="row"></div>
    <h2 class="ui center aligned header">Start making bets now!</h2>
  </div>
  <div class="sixteen wide column">
    <% if user_signed_in? %>
    <% else %>
      <div class="ui center aligned vertical segment">
        <a href="/users/sign_up" class="ui large blue button">Sign up!</a>
      </div>
    <% end %>
  </div>
  <div class="row"></div>
</div>


<div class="ui padded page grid">
  <div class="column">
    <div class="ui vertical segment">
      <div class="ui two column stackable equal height relaxed vertically padded grid">
        <div class="column">
          <div class="ui basic horizontal segment">
            <div class="row">
              <div class="ui center aligned icon header">
                <i class="users icon"></i>
                Initiate bets with other users!
              </div>
            </div>
            <p>Simply select a game, user to bet against, make the terms of your bet, and submit.
              Pick a team, points, and bet amount. Bet results post as soon as the game's final score updates.</p>
          </div>
        </div>
        <div class="column">
          <div class="ui basic horizontal segment">
            <div class="row">
              <div class="ui center aligned icon header">
                <i class="thumbs up icon"></i>
                Accept or reject bets you receive!
              </div>
            </div>
            <p>Accept bets you want and reject bets you dislike. Create a new bet with revised terms, and let the receiving user decide.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted feature segment">
  <div class="ui padded page grid">
    <div class="column">
      <div class="ui two column stackable equal height relaxed vertically padded grid">
        <div class="column">
          <div class="ui basic inverted horizontal segment">
            <div class="ui center aligned blue icon header">
              <i class="comments icon"></i>
              Comment on bets!
            </div>
            <p>Comment on active bets, comment once the bet results are in, or comment before you reject a bet. Receive a ridiculous bet? Post a comment and tell the initiating user off!</p>
          </div>
        </div>
        <div class="column">
          <div class="ui basic inverted horizontal segment">
            <div class="ui center aligned blue icon header">
              <i class="trophy icon"></i>
                Win bets!
            </div>
            <p>Wagered keeps track of all bets. Regardless of point spread, Wagered calculates the winner for you. Once a bet is accepted, neither user can back out or attempt to change the bet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>
</div>
