<% provide(:title, 'Users index') %>
<h1 class="ui header"> All Users </h1>

<%= will_paginate %>
<div class="ui relaxed list">
  <% @users.each do |user| %>
  	<div class="item">
  	  <%= link_to user.username, user %>
  	  <% if current_user.admin? && !current_user?(user) %>
  	    <%= link_to "delete", user, method: :delete, data: { confirm: "You sure" } %>
  	  <% end %>
  	</div>
  <% end %>
</div>

<%= will_paginate %>