 
<form name="create_comment" action="/bets/<%= @bet.id %>/comments" method="post", class="ui form">
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

  <label class="field">Comment: 
    <input type="text" name="comment[content]"/>
  </label><br />
    <input type="submit" value="Comment", class="ui blue button"></input>
</form>