<% provide(:title, "Add Image") %>

<div class="ui centered page grid">  
  <div class="fourteen wide column">
    <h2 class="ui header">Upload an Image</h2>

    <%= form_for(@image, :html => {:class => "ui form segment"}) do |f| %>
      <h4 class="ui header"> Select an Image:</h3>

      <%= f.file_field :source, :class => "field" %>

      <%= f.submit "Upload Image", { id: "commit", :class => "ui blue button" } %>
    <% end %>
  </div>
</div>
