<h1>Upload an Image</h1>

<%= form_for(@image) do |f| %>
  <h3> Select an Image</h3>

  <div>
    <%= f.file_field :source %>
  </div>

  <div><%= f.submit "Upload Image!", { id: "commit" } %></div>

 <% end %>